body {
    text-align: center;
    background-color: lightblue;
}

h1 {
    color: red;
}

.table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

td {
    width: 60px;
    height: 55px;
    border: 1px solid black;
}

/* .cell {
    background: gray;
} */

.hidden {
    background-color: rgb(243, 243, 243);
    cursor: pointer;
}
.boom {
    background-color: rgb(255, 148, 49);
    cursor: pointer;
}
.shown {
    background-color: rgb(209, 209, 209);
}

.cell img {
    width: 25px;
    height: auto
}

button {
    margin-bottom: 10px;
    color: lightcoral;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 0.25em, transparent 0.25em) center/1em 1.2em;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 1px;
    border-radius: 20px/50px;
    border: 2px solid #fdacac;
    transition: all 0.5s ease 0s;
}

.smiley {
    font-size: xx-large;
    margin-bottom: 10px;
    cursor: pointer;

}

.lives {
    font-size: 20px;
    font-weight: bold;
    color: rgb(247, 9, 9);
}